{% load static %}
<!doctype html>
<html lang="fr" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>C'est Pas Sorcier, le Grand Tournoi</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'listing/css/index.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://archives.the-redunicorn.fr/logo/logo-tru_32px.png" />
  </head>
  
  <body class="d-flex flex-column h-100">

  {% include 'accueil/header.html' %}

  </body>
</html>