{% load static %}
<!doctype html>
<html lang="fr" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>C'est Pas Sorcier, le Grand Tournoi</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'accueil/css/index.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://archives.the-redunicorn.fr/logo/logo-tru_32px.png" />
  </head>
  
  <body class="d-flex flex-column h-100">

  {% include 'accueil/header.html' %}

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">C'est Pas Sorcier, le Grand Tournoi</h1>
      <p class="lead">Bienvenue fan de CPS ! Ici, on te propose un classement des épisodes mais aussi de te faire ton propre classement, 
        sur la base d'une confrontation entre deux épisodes. Retrouve aussi l'ensemble des épisodes triés par numéro, saison, ou par thématique.</p>
    </div>
  </main>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <div class="text-muted">Une création originale de deux cousins ayant grandi avec <a href="https://www.france.tv/france-3/c-est-pas-sorcier/">C'est Pas Sorcier</a>.</div>
      <div class="text-muted">Le site web et son contenu sont sous licence GNU GPLv3. Le <a href="https://github.com/purerstamp/CPS-grand-tournoi">code source</a> est sous licence GNU GPLv3.</div>
  </div>
  </footer>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  </body>
</html>
